Repository nmsmith22389/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:latest

before_script:
  - python3 -V

symbol_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*symbol/*"
  script:
    - python3 klc-check/check_symbol.py -u klc-check/test_symbol/*.kicad_sym
    - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-aliases -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*footprint.pretty/*"
  script:
    - python3 klc-check/check_footprint.py -u klc-check/test_footprint.pretty/????__*
    - python3 klc-check/check_footprint.py -vv klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  artifacts:
    reports:
      metrics: metrics.txt

check_python_code:
  rules:
    - when: always
  script:
    - pip install flake8
    - make lint

check_spelling:
  rules:
    - when: always
  script:
    - apt-get -qq update && apt-get install --yes codespell
    - make spelling

Fix PEP-8
  common/kicad_sym.py
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker, footprint_rulechecker

Remove commented code
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Fix pep8 violation
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker

Add test case for NC pin outside of outline
  klc-check/test_symbol/CI_Test_S4.6.kicad_sym
Due: symbol_rulechecker

Refactor polyline methods to Polyline class
  common/kicad_sym.py
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker, footprint_rulechecker

Ignore NC pins in boundingbox derivation
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker

Add S4.6 check for NC pins outside of symbol border
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker

Check NC pins against polylines
  common/kicad_sym.py
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker, footprint_rulechecker

Create Boundingbox.fromPins method
  common/boundingbox.py
Due: symbol_rulechecker, footprint_rulechecker

Skip check if no unit pins
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker

Fix a comment style issue
  klc-check/check_package3d.py
Due: symbol_rulechecker, footprint_rulechecker

Calculate bounding boxes for arcs
  common/boundingbox.py
Due: symbol_rulechecker, footprint_rulechecker

Make linter less shouty
  common/boundingbox.py
Due: symbol_rulechecker, footprint_rulechecker

Calculate center point from the circle points
  common/boundingbox.py
Due: symbol_rulechecker, footprint_rulechecker

Use fuzzy comparison
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Use backwards-compatible pairwise, add license/source to point_is_inside
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Add check for pin count in footprint filter when pins are missing
  klc-check/rules_symbol/S5_2.py
Due: symbol_rulechecker

add file conversion to latest file format using kicad-cli
  tools/change_pads_to_roundrect.py
Due: none

improve error handling and error messages; fix roundoff errors in checks if something needs to be changed
  tools/change_pads_to_roundrect.py
Due: none

fix flake8
  tools/change_pads_to_roundrect.py
Due: none

rewrite of the script using KiCad Python Interface (pcbnew) instead of kicad_mod.py
  tools/change_pads_to_roundrect.py
Due: none

Change check_footprint.py to fit structuring of check_symbol.py
  klc-check/check_footprint.py
Due: symbol_rulechecker, footprint_rulechecker

Check if F.Fab reference is locked (upright orientation)
  common/kicad_mod.py
  klc-check/rules_footprint/F5_2.py
Due: symbol_rulechecker, footprint_rulechecker

Improve comment
  klc-check/rules_footprint/F5_2.py
Due: none

Check orientation to see if it's unlocked too
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Check F.SilkS reference is locked (upright position)
  klc-check/rules_footprint/F5_1.py
Due: none

Fix indentation
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Removed debug print
  klc-check/rules_footprint/F5_1.py
Due: none

Lock references in F5.2 check
  klc-check/test_footprint.pretty/Pass__F5.2__FabPolygon.kicad_mod
Due: footprint_rulechecker

KLC check F6.3: Heatsink pads should have solid zone connections
  .gitlab-ci.yml
  Makefile
  klc-check/rules_footprint/F6_3.py
  klc-check/test_footprint.pretty/Warn__F6.3__heatsink-zone-connect.kicad_mod
Due: footprint_rulechecker

KLC: add symbol geometry warnings
  common/geometry.py
  common/kicad_sym.py
  klc-check/rules_symbol/EC01.py
  klc-check/rules_symbol/__init__.py
  klc-check/test_symbol/CI_Test_EC01.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Rearrange to avoid invalid hashing, and check nearly-same geometry
  common/geometry.py
  common/kicad_sym.py
  klc-check/rules_symbol/EC01.py
  klc-check/test_symbol/CI_Test_EC01.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Update test file to v8 format
  klc-check/test_symbol/CI_Test_EC01.kicad_sym
Due: symbol_rulechecker

Add kicad-cli sym upgrade --force check
  tools/gitlabci/check_symbols.sh
Due: none

Fix bad call of kicad-cli
  tools/gitlabci/check_symbols.sh
Due: none

Fix command
  tools/gitlabci/check_symbols.sh
Due: none

Implement more keyword checks
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Add common alias check & unit tests
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Fix description tokenization
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker
