Repository nmsmith22389/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:latest
  
before_script:
  - python -V

symbol_rulechecker:
  only:
    refs:
      - merge_requests
    changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*symbol/*"
  script:
    - python klc-check/check_symbol.py -u klc-check/test_symbol/*.kicad_sym
    - python klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-aliases -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  only:
    refs:
      - merge_requests
    changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*footprint.pretty/*"
  script:
    - python klc-check/check_footprint.py -u klc-check/test_footprint.pretty/????__*
    - python klc-check/check_footprint.py -vv klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  artifacts:
    reports:
      metrics: metrics.txt

fix: revert raising of `NotImplemented`
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Example usage of class instead of dict plus some refactoring
  common/lib_table.py
  klc-check/check_lib_table.py
Due: symbol_rulechecker, footprint_rulechecker

Replace all mentions of 'alias' with 'derived symbol'
  .gitlab-ci.yml
  klc-check/comparelibs.py
  klc-check/gitlabci/check_symbols.sh
  klc-check/rules_symbol/S3_3.py
  klc-check/rules_symbol/S3_6.py
  klc-check/rules_symbol/S4_1.py
  klc-check/rules_symbol/S4_2.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_5.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S6_2.py
  klc-check/rules_symbol/S7_2.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

Allow checking multiple specific components using CSV
  schlib/checklib.py
Due: none

Used black python lib to format code
  schlib/checklib.py
Due: none

docs(README): describe scope and purpose of this repository
  README.md
Due: none

Include forgotten previous file to git add
  tools/cnt_fps.py
Due: none

Tweak a few things
  README.md
  tools/count_footprints.py
Due: none

Added a script to count footprints
  README.md
  tools/cnt_fps.py
Due: none

Allow to pass target dir as a raw parameter
  tools/count_footprints.py
Due: none

Poor check for OS
  tools/count_footprints.py
Due: none

Remove poor OS check
  tools/count_footprints.py
Due: none

Some more actions
  tools/count_footprints.py
Due: none

Check for user input and validate repo
  tools/count_footprints.py
Due: none

Bring poor OS check back, shell verbose only when != Windows
  tools/count_footprints.py
Due: none

Fix shell verbose.
  common/print_color.py
  tools/count_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

Remove double use of _do_print()
  common/print_color.py
  tools/count_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

Format code and fix some leftovers
  tools/count_footprints.py
Due: none

Fix all review points
  tools/count_footprints.py
Due: none

Fix formating and rebase leftovers
  common/print_color.py
  tools/count_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

Fix flake8
  common/print_color.py
Due: symbol_rulechecker, footprint_rulechecker

Fix pipeline
  tools/count_footprints.py
Due: none

Added more proper args
  tools/count_footprints.py
Due: none

Fix non verbose exit code
  tools/count_footprints.py
Due: none

Full Ultrascale(+) family support.
  symbol-generators/xilinx/xilinx_generator.py
Due: none

Styling and linting.
  symbol-generators/xilinx/xilinx_generator.py
Due: none

Init step
  common/print_color.py
  klc-check/check_package3d.py
  klc-check/gitlabci/check_packages3d.sh
Due: symbol_rulechecker, footprint_rulechecker

Some fixes
  klc-check/check_package3d.py
  klc-check/gitlabci/check_packages3d.sh
Due: symbol_rulechecker, footprint_rulechecker

Some more fixes
  klc-check/check_package3d.py
  klc-check/gitlabci/check_packages3d.sh
Due: symbol_rulechecker, footprint_rulechecker

Some more verbose fixes
  klc-check/check_package3d.py
Due: symbol_rulechecker, footprint_rulechecker

Some pipeline fixes
  klc-check/check_package3d.py
Due: symbol_rulechecker, footprint_rulechecker

Fix spelling
  klc-check/check_package3d.py
Due: symbol_rulechecker, footprint_rulechecker

Try to set chmod=+x on klc-check/check_package3d.py
  klc-check/check_package3d.py
Due: symbol_rulechecker, footprint_rulechecker

Try to set chmod=+x on klc-check/gitlabci/check_packages3d.sh
  klc-check/gitlabci/check_packages3d.sh
Due: none

Fix verbose
  klc-check/check_package3d.py
Due: symbol_rulechecker, footprint_rulechecker

DrawingElements: allow for a multi-unit Drawing
  symbol-generators/common/DrawingElements.py
Due: none

PolarFire: Add Support for generating PolarFire SoC parts
  symbol-generators/polarFireSoc/kiCadGenPolarFire.py
Due: none

Fix space handling in S-Expressions
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

sexpr parser: Improve error handling
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

Add 4.6 unittest for polygon
  klc-check/test_symbol/CI_Test_S4.6.kicad_sym
Due: symbol_rulechecker
