Repository nmsmith22389/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - python3 klc-check/check_symbol.py -u klc-check/test_symbol/*.kicad_sym
  - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-aliases -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - python3 klc-check/check_footprint.py -u klc-check/test_footprint.pretty/????__*
  - python3 klc-check/check_footprint.py -vv klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  artifacts:
    reports:
      metrics: metrics.txt

Add opamp <=> operational amplifier alias
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Add Fail__S6.2__DuplicateKeywordsDescription unit test
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Added keyword filler test
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Remove filler keyword from Pass__S6.2__Correct
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Added unit test for duplicate keywords, but doesnt work yet
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Fix 'Pass__S6.2__NoDatasheet'
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

PEP8
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Add unit test and fix subtoken check
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Add Fail__S6.2__DuplicateKeywordsDescriptionInSubTokens
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Fix Pass__S6.2__Correct S6.2.7 violation
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Fix bugs from unit test
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Add kicad-cli sym upgrade --force check
  tools/gitlabci/check_symbols.sh
Due: none

Fix PEP8
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Refactor keyword checking
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Fix command
  tools/gitlabci/check_symbols.sh
Due: none

Remove some duplicate keywords from libs
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
Due: none

Fix Fail__S6.2__DescriptionSameWordTwice
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

more keyword fixes
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
Due: none

Fix unit test
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Fix keywords
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
Due: none

Better note about empty keywords
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Remove surplus quotes for symbol properties with spaces
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

sexpr: Make properties match Kicad v8
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

common/sym: Fix interaction with nightly 'kicad-cli sym upgrade'
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

common/kicad_sym.py: Update to v8 file format
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

sexpr: Avoid double-quoting already quoted strings
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

sexpr: Make indent logic match KiCad v8
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

sexpr: Avoid producing decimal points where possible
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

common/kicad_sym.py: Add trailing newline to symbol libraries
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

stm32: Fix incorrect footprint filters
  symbol-generators/stm32/stm32_generator.py
Due: none

stm32: Fix alternate function table for multiple-bonded pins
  symbol-generators/stm32/stm32_generator.py
Due: none

stm32: Update generator for ST's latest part data
  symbol-generators/stm32/generate_all_libraries.sh
  symbol-generators/stm32/stm32_generator.py
Due: none

html-diff: Add no-screenshot and reformat modes
  html-diff/src/html_diff.py
Due: none

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
